#logo-div #logo {
    flex: 1;
    margin: 10px auto;
    min-width: 500px;
    max-width: 30%;
    justify-content: center;
    align-content: center;
}

#logo-div a {
    margin: 0;
    padding: 0;
    max-width: 500px;
}

.center-back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#logo-div .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.center-back .empty{
    flex: 1;
    max-width: 10vw;
}

@media all and (max-width: 600px) {
	    #logo-div #logo {
	        flex: 1;
	        margin: 10px auto;
	        min-width: 80%;
	        max-width: 30%;
	        justify-content: center;
	        align-content: center;
	    }
