#logo {
    flex: 1;
    margin: 0 auto;
    min-width: 500px;
    max-width: 30%;
    justify-content: center;
    align-content: center;
}

a {
    margin: 0;
    padding: 0;
    max-width: 500px;
}

#question {
    font-family: "Amatic SC";
    font-size: 3em;
    text-align: center;
}

#response {
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    width: 50%;
    display: block;
    margin: auto;
}

.center-back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.empty{
    flex: 1;
    max-width: 10vw;
}