html, body {
    height: 100vh;
    margin: 0;
}

.player{
    width: 150px;
    height: 150px;

}

.playerName{
    color: black;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    /*background-color : pink;*/
}

#home #navbarContainer {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(100deg, #64b3f4 0%, #c2e59c 100%);
    display:flex;
    flex-flow: row;

}


#home #navbarButton {
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    display: flex;
    flex: 1 6 35%;
    order: 2;
}


.container {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.container-flex {
    align-items: center;
    justify-content: center;
}

.button {
    display: table;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.textButton {
    position:absolute;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    font-family: "Amatic SC";
}

#home #navbarImage {
    margin: 0 auto;
    float:left;
    justify-content: center;
    align-items:center;
    display:flex;
    flex: 5 6 65%;
    order: 1;
}

.logo {
    position:absolute;
    margin: 0 auto;
    width:28%;

}

#home .starImage {
    display: table;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;

}

#home .textImage {
    position:absolute;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    margin: 5% 0 0 0;
    font-family: "Amatic SC";
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 600px) {
    #navbarContainer{
        flex-direction: column;
    }

    #navbarImage, #nabvarButton {
        order: 0;

    }

    .container-flex {
        display:flex;
    }

    .button {
        width:80%;
    }
}
