html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    min-width: 300px;
}

.content{
    min-width: 300px;
}

.player{
    width: 150px;
    height: 150px;

}

.logo{
    min-width: 135px;
}

.playerName{
    color: black;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

#home #navbarContainer {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(100deg, #64b3f4 0%, #c2e59c 100%);
    display:flex;
    flex-flow: row;
    min-width: 300px;
}

#home #navbarButton {
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    display: flex;
    flex: 1 6 35%;
    order: 2;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    min-width: 150px;
}

.container-flex {
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 300px;
}

.button {
    display: table;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 23vh;
    width: auto;
    min-width: 150px;
}

.container:hover {
    transform: scale(1.5);
}

.textButton {
    position:absolute;
    font-size: 100%;
    font-weight: bold;
    color: white;
    font-family: "Amatic SC";
}

#home #navbarImage {
    margin: 0 auto;
    float:left;
    justify-content: center;
    align-items:center;
    display:flex;
    flex: 5 6 65%;
    order: 1;
}

.logo {
    position:absolute;
    margin: 0 auto;
    width:28%;

}

#home .starImage {
    display: table;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.starImage{
    min-height: 200px;
}

#home .textImage {
    position:absolute;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    margin: 5% 0 0 0;
    font-family: "Amatic SC";
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 575px) {
    #home #navbarContainer{
        flex-direction: column;
    }

    #home #navbarImage, #nabvarButton {
        order: 0;

    }

    #navbarImage{
        max-height: 40vh;
    }

    .starImage{
        margin: none;
        height: 100%;
        width: auto;
    }

    #home .button {
        width:40%;
    }

    .container-flex{
        height: 60vh;
        width: 100vw;
        display:flex;
        flex-wrap: wrap;
        margin: none;
    }

    .container-flex>div {
        flex: 0 50%;
        box-sizing:border-box
    }

    .container {
        max-width: 50vw;
        margin: none;
        padding: 0;
        height: 30%;
        min-width: 150px;
    }

    .button {
        margin: none;
        display: inline-block;
        position: relative;
        width: 70%;
    }

    .textImage{
        font-size: 19px  !important;
    }

    .container:hover {
        transform: scale(1.2);
    }
}

@media all and (max-width: 320px) {
    .textImage{
        min-width: 100px;
        top: 20%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15%;
        min-width: 100px;
    }

    .button {
        margin: none;
        display: inline-block;
        position: relative;
        width: 50%;
        height: 30%;
    }

    .container:hover {
        transform: scale(1.2);
    }
}
