.lobby{
    background: rgb(240,147,251);
    background: radial-gradient(circle, rgba(240,147,251,1) 0%, rgba(245,87,227,1) 100%);
    width:100%;
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    font-family: "Amatic SC";
    font-size: 3em;
    /*line-height: 2px;*/
    text-align: center;
    margin: 0;
}

.lobby label {
    text-align: left;
    font-family: "Amatic SC";
    font-size: 1.3em;
    font-weight: bold;
}

.lobby input {
    font-family: "Amatic SC";
    font-size: 1.3em;
    line-height: 55px;
    border: none;
    background: none;
}

.lobby #joinCode, .lobby #nickname{
    background: white;
}


.lobby .textBox {
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    width: 100%;
    display: block;
    margin: auto;
}

.lobby #container {
    margin: auto;
    width: 50%;
    min-height: 43vh;
}

.lobby #split-container{
    padding: 10px;
    display: table;
    width: 75%;
    margin: auto;
    min-height: 47vh;
}

.lobby #split-container #left {
    display: table-cell;
    min-width: 50%;

}

.lobby #split-container #right {
    display: table-cell;
    min-width: 50%;
}

.lobby .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 33px;
    background: #DCDCDC;
    margin-top: 20px;
}

.lobby input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 70px;
    width: 30px;
    background: #111111;
    cursor: pointer;
}

#button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 30%;
    min-height: 200px;
    max-height: 30%;
}

@media all and (max-width: 750px) {
    .lobby {
        width: 100%;
        min-height: 100vh;
    }

    #container {
        min-height: 43vh;
    }
    .lobby #split-container{
        width: 80%;
        min-height: 47vh;
    }


    .lobby label {
        text-align: left;
        font-family: "Amatic SC";
        font-size: 1.1em;
        font-weight: bold;

    }

    .lobby input {
        font-family: "Amatic SC";
        font-size: 1.1em;
        line-height: 55px;
        border: none;

    }

    .lobby .slider {
        -webkit-appearance: none;
        width: 80%;
        height: 33px;
        background: #DCDCDC;
        margin-top: 20px;
    }


    .lobby input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 50px;
        width: 30px;
        background: #111111;
        cursor: pointer;
    }



}


@media all and (max-width: 575px) {
    .lobby {
        width: 100%;
        min-height: 100vh;

    }

    #container {
        min-height: 47vh;
    }
    .lobby #split-container{
        display: table;
        width: 90%;
        min-height: 50vh;
        margin: auto;

    }


    .lobby label {
        text-align: left;
        font-family: "Amatic SC";
        font-size: 0.8em;
        font-weight: bold;

    }

    .lobby input {
        font-family: "Amatic SC";
        font-size: 0.8em;
        line-height: 55px;
        border: none;

    }

    .lobby .slider {
        -webkit-appearance: none;
        width: 80%;
        height: 33px;
        background: #DCDCDC;
        margin-top: 20px;
    }


    .lobby input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 50px;
        width: 30px;
        background: #111111;
        cursor: pointer;
    }

}

@media all and (max-width: 415px) {

    h1 {
        font-size: 1em;
    }

    .lobby {
        width: 100%;
        min-height: 100vh;

    }

    #container{
        min-height: 49vh;
    }


    .lobby #split-container{
        padding: 0;
        display: table;
        width: 80%;
        margin: auto;
        min-height: 43vh;
        flex-direction: column;
    }


    .lobby label {
        text-align: left;
        font-size: 0.6em;
    }

    .lobby input {
        font-size: 0.6em;
        line-height: 20px;
    }

    .lobby .slider {
        width: 80%;
        height: 33px;
        margin-top: 20px;
    }


    .lobby input[type=range]::-webkit-slider-thumb {
        height: 50px;
        width: 30px;
    }

}

@media all and (max-width: 375px) {

    .lobby h1 {
        font-size: x-large;
    }

    .lobby {
        width: 100%;
        min-height: 100vh;

    }

    #container{
        min-height: 39vh;
    }


    .lobby #split-container{
        display: table;
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        min-height: 43vh;
    }


    .lobby label {
        text-align: left;
        font-size: 0.5em;
    }


    .lobby input {
        font-size: 0.5em;
        line-height: 30px;
    }

    .lobby  .option {
        font-size: 1em;
        line-height: 30px;
    }

    .lobby .slider {
        width: 80%;
        height: 33px;
        margin-top: 20px;
    }


    .lobby input[type=range]::-webkit-slider-thumb {
        height: 50px;
        width: 30px;
    }

}
