body{
    /* min-width: 350px;
    min-height: 670px; */
    overflow-y: auto;
}


.error {
    margin: 0 auto;
    margin-right: 20px;
    padding-left: 20px;
    width: 100%;
    /* height: 100px; */
    border-radius: .2em;
    background: linear-gradient(lightcoral, firebrick);
    justify-content: center;
    align-items: center;
    max-height: 100px;
    overflow-y: auto;
}

.error p{
    font-size: 25px;
    font-weight: bold;
    /*color: red;*/
}

.rootContainer .loggedOut p {
    font-size: 40px;
    font-weight: bold;
    color: black;
}


.rootContainer .complete p {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.rootContainer{

    font-family: "Amatic SC", serif;

    position: fixed;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    /*background-image: url("bgn.png");*/
    background-image: linear-gradient(to left top, #1b75d8, #0099f0, #00b7e2, #00ceb4, #00e077, #75e65d, #aeea45, #e1ec34, #e8ee40, #eff04b, #f5f255, #fbf45f);}

.wrapper {
    /* margin-top: 150px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; 
    top: 38px;
    overflow-y: auto;
}

.rootContainer .pageSelectorContainer {
    display: flex;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0 0 20px 0 rgba(15, 15, 15, 0.2);
    box-shadow: 0 0 20px 0 rgba(15, 15, 15, 0.2);
    margin-bottom: 15px;
    align-items: center;
    width: 450px;

    /*background-color: red;*/
}

.rootContainer .pageSelector {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 1.2;
    cursor: pointer;
    font-size: 30px;

    color: black;

    /*background-color: gold;*/
}

.rootContainer .currentlySelected {
    transition: 0.5s ease-out;
    background: #2ECC71;
    color: white;
}

.formContainer {
    display: flex;
    flex-direction: column;
    min-width: 21em;
    box-shadow: 0 0 20px 0 rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
    width: 500px;
    background-color: #191919;
}

.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-size: 40px;
    font-weight: 100;
    border-bottom: 2px solid #70a1ff;
	width: 100%;
    /*background-color: purple;*/
}

.rootContainer .fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rootContainer .signUpFieldContainer {
    height: 90%;
}

.rootContainer .inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;

    align-items: center;

    /*background-color: orange;*/
}

.rootContainer .inputContainer::before {

}

.inputBox {
    font-family: sans-serif;
    height: 75px;
    width: 95%;
    border: 2px solid #70a1ff;
    font-size: 35px;
    font-weight: bold;
    padding: 14px 10px 14px 30px;
    margin-bottom: 25px;
    background-color: #fff;
}

.rootContainer .inputBox:hover {
    border: 1px solid #70a1ff;
}

.rootContainer .inputBox:focus {
    border: 1px solid #6565e7;
    box-shadow: 0 0 20px rgba(15, 15, 15, 0.2);
}

.rootContainer .inputBox::placeholder {
    font-size: 30px;
    color: black;
}

/* for sign Up page*/
.rootContainer .signUpFieldContainer .inputBox {
    height: 40px;
    font-size: 25px;
    margin-bottom: 0px;
}

.rootContainer .signUpContainer .header {
    margin: 0px;
}

.rootContainer .submitButton {
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
}

.rootContainer .submitButton:hover {
    background-color: rgb(19, 170, 82);
}

.buttonheader{
    height: 38px;
}

.back-button{
    margin: 10px 10px 0;
    flex: 1;
}


@media all and (max-width: 500px) {
    .formContainer {
        width: 95%;
    }
}

@media all and (max-height: 700px) {    
    .signUpContainer{
        overflow-y: auto;
    }
}