*{box-sizing: border-box;}

body{margin:0;}

p{font-family: "Amatic SC";}

/********************************/
/** 1st place winner **/
#Players{
	height: 75vh;
	min-width: 500px;
	width: 100vw;
}

#Winner{
	width: 100%;
	height: auto;
	min-height: 50%;
	display: flex;
	text-align:center;
	position: relative;
	justify-content: center;
	align-items: center;
}

#Winner p{
	font-size: 35px;
}


#firstSplash{
	max-width:40%;
	min-width: 200px;
	height: auto;
}
#goldmedal{
	min-width:70px;
	max-width:100px;
	height: auto;
	position: absolute;
	top: 5%;
	margin-left: 13%;
}

#face1{
	max-width:22%;
	height: auto;
	position: absolute;
}

#firstusername{
	width:200px;
	height: 15%;
	position: absolute;
	bottom:0;
	background-color: lightgray;
	opacity: 0.8;
}



/********************************/
/** 2nd and 3rd place winners **/
#Others{
	text-align: center
}

.row{
	width: 100%;
	text-align:center;
	display:inline-block;
	height: auto;
}

.row:after {
	content: "";
  	display: table;
  	clear: both;
}

.column {
  	float: left;
 	 width: 50%;
 	 min-height: 50%;
	display: flex;
	text-align:center;
	position: relative;
	justify-content: center;
	align-items: center;
}

.column p{
	font-size: 30px;
}

#otherPlayer{
	width: 50%;
	height: auto;
}

#otherface{
	max-width:20%;
	height: auto;
	position: absolute;
}

#othermedals{
	min-width:70px;
	max-width:80px;
	height: auto;
	position: absolute;
	top: 0;
	margin-left: 20%;
}

#otherusername{
	width:150px;
	position: absolute;
	bottom:0;
	background-color: lightgray;
	opacity: 0.8;
	margin-bottom: 0;
}
	
/********************************/
/** CSs for responsiveness **/
@media screen and (max-width:750px) {
	#face1 {max-width:79px;}
	
	#otherface {max-width:59px;}
	
	#goldmedal{margin-left: 25%;}
	
	#othermedals{
		margin-left: 25%;
		max-width:50px;
	}
}

@media screen and (max-width:599px) {
	.column {width: 100%;}
}