#profilePage, html,body {
  height: 100%;
  margin: 0
}


#profilePage, body{
  /* background-image: url("bgn.png"); */
  background-image: linear-gradient(100deg, #64b3f4 0%, #c2e59c 100%);
  font-family: "Amatic SC";
}

#profilePage{
  width: 100vw;
}

#profilePage, .box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-width: 300px;
}


/********* Header *************/

#profilePage .box .row.header {
  flex: 0 1 auto;
}

#profilePage .header{
  margin:0;
  text-align: center !important;
  background-color: silver;
  min-height: 75px;
  border-bottom: transparent;
}




/* Back button and Profile page sign*/
#profilePage .header-box{
  /* min-height:100px; */
  height: 100%;
  min-width: 200px;
  width: 100%;
  /* justify-content: center; */
  /* background-color: green; */
  text-align: center;
  display: inline-block
}

#profilePage .backButton{
	position: fixed;
  top: 0;
  left: 0;
  max-width: 30%;
  border: 3px solid #73AD21;
}

#profilePage, .backProfile{
  float: left;
}

#profilesign{
  margin-top: 2%;
}

/*******************************************/



/*******************************************/
/*******************************************/




/********* Content *************/
#profilePage .box .row.content {
  flex: 1 1 auto;
  min-width: 200px;
  margin:0;
  background-color: transparent;
}

#profilePage .content{
	min-height: 300px;
	text-align: center;
}

/* Create three equal columns that floats next to each other */
#profilePage .column {
  float: left;
  height: 100%;
  text-align: center;
}

/* Left and right column */
#profilePage .column.side {
  width: 35%;
  height: 100%;
}

/* Middle column */
#profilePage .column.middle {
  width: 30%;
  height: 100%;
  /* border: 1px solid white; */
}

/* Clear floats after the columns */
#profilePage .content:after {
  content: "";
  display: table;
  clear: both;
}

#profilePage .box-outer{
	text-align: center;
  height: 100%;
  width: 100%;
}

#profilePage .box-inner{
	text-align: center;
}
/*******************************************/



/* Middle picture/star rating/edit profile*/
#profilePage #imageProfile{
  width:80%;
  height: auto;
	border-radius: 50%;
}



/* Username with online/offline square color and lvl*/
#profilePage .username{
	border: 1px solid white;
	max-width: 30%;
	text-align: center;
	display: inline-block;
	min-width: 150px;
	margin: 0;
}

#profilePage .username h4{
	margin:0;
}

/*******************************************/


/* Side Info boxes */
#profilePage .square-box{
	width: 85%;
	min-width: 200px;
	height: 45%;
	border: 1px solid black;
	display: inline-block;
	border-radius:5px;
		vertical-align: middle;
		margin-top: 5%;
}

div.square-box:hover{
	border: 3px solid blue;
}

#profilePage #Stats, #profilePage #About, #profilePage #Achievements, #profilePage #Recent{
	font-size: 250%;
	line-height: 37vh;
}


#profilePage #Stats1, #profilePage #About1, #profilePage #Achievements1, #profilePage #Recent1{
	display: none;
	overflow-x:auto;
	min-width: 200px;
}

#profilePage .items{
	width: 100%;
	height: 5px;
	padding: 15px;
	white-space: nowrap;
}


#profilePage .items p{
	margin:0;
    padding:0;
    display: inline-block;
	font-size: 30px;
}
/*******************************************/




/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:599px) {
    #profilePage .column.side, .column.middle {
    width: 100% !important;
    /* border: 1px solid white */
  }

  #profilePage .column.side{
    height: 80%;
  }

  #profilePage .column.middle{
    height: 70%;
  }

  #profilePage #imageProfile{
    width:80%;
  }

  #profilePage .square-box{
    height: 48%;
      margin-top: 2%;
  }
}

@media screen and (max-width:500px) {
    #profilePage .column.middle {
    height:80%;
  }
}

@media screen and (max-width:400px) {
    #profilePage .column.middle {
    height:70%;
  }
}

@media screen and (max-width:300px) {
    #profilePage .column.middle {
    height:60%;
  }
}
/*******************************************/
/*******************************************/




/********* Footer *************/
#profilePage .box .row.footer {
  flex: 0 1 0px;
}